body {
    padding-top: 50px;
    padding-bottom: 20px;
    overflow: scroll;
    background-color: lightblue;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#footer {
    position: fixed;
    bottom: 0;
}

#map {
    height: 400px;
    width: 100%;
}

.progress {
    height: 46px;
}

.progress .progress-bar {
    font-size: 15px;
    line-height: 46px;
}