@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>Please feel free to get in touch with us</h3>

<address>
    Find A Doctor Team<br />
    139 Carrington Rd<br />
    Mount Albert, Auckland 1025<br />
    <abbr title="Phone">P:</abbr>
    123456789
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:findadoc@outlook.com">FindADoc@Outlook.com</a><br />
</address>