@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Find A Doctor</h1>
    <p class="lead">Find A Doctor Web Application allows you to find doctors in your suitable medical center and make an appointment with them</p>
    <p>Just Register yourself and go ahead with our online services</p>
    <p><a href="@Url.Action("StepOne", "Appointments", null)" class="btn btn-primary btn-lg">Create Appointment &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Using Find A Doctor Application is very easy. Before, you can make an appointment, you just need to register a patient account with us.
        </p>
        <p><a href="@Url.Action("Register", "Account", null)" class="btn btn-default">Register Yourself &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Medical Center Details</h2>
        <p>Once you are a registered user, you can access Find A Doc web application to check available medical center details.</p>
        <p><a href="@Url.Action("Index", "MedicalCenters", null)" class="btn btn-default">See Medical Centers &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Doctor Details</h2>
        <p>As an user of Find A Doctor web application, you also can see doctor details and where you can find them</p>
        <p><a href="@Url.Action("Index", "Doctors", null)" class="btn btn-default">See Doctors &raquo;</a></p>
    </div>
</div>